---
layout: default
title: Cookies Policy
description: "On this page you can find information on the GitLab Cookies Policy. Learn more!"
canonical_path: "/privacy/cookies/"
---

.container.txt-lefty
  .row
    .col-sm-9.col-md-9
      #why-do-we-use-cookies

        %h3 Why do we use Cookies?

        %p GitLab uses cookies, web beacons and other similar technologies to:

        %li Help you access and use the Services
        %li Understand how visitors use and engage with our Services;
        %li Set your preferences;
        %li Deliver relevant interest-based advertising;
        %li Understand if you have opened an email and acted upon it; and
        %li Analyze and improve our Services.

      #who-set-cookies
        %h3 Who sets Cookies on GitLab?

        %p The cookies are sometimes placed by GitLab and sometimes they are placed by our service providers, such as Google who provides analytics and interest-based advertising.  When cookies are placed by service providers, they are providing a service or function to GitLab, but GitLab cannot control how those service provider cookies are used.  To see a complete list of the cookies placed by GitLab and our service providers you may view the list below.

      #how-do-i-manage-my-cookies
        %h3 How do I manage my Cookies?

        %p You have the option to opt-out and disable most cookies that we use in our Services.  However, the disabling of cookies may cause certain features of the Services to not function properly.  Any cookies that are considered strictly necessary, which are those that are essential for the Service to operate, cannot be disabled. 

        %p To opt out you may:

        %ul
          %li Instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from websites you visit; or
          %li
            Withdraw or change your consent using our tool for the following sites
            %ul
              %li
                %a{href: 'https://docs.gitlab.com/cookies-policy'} docs.gitlab.com
              %li About.gitlab.com (scroll to the bottom of this page)

        %p Most web browsers also allow you to delete cookies already set.  However, if you choose to delete cookies, settings and preferences controlled by those cookies, including advertising preferences, may be deleted and may need to be recreated.

      #how-do-i-opt-out
        %h3 How do I opt-out of interest-based advertising through self-regulatory programs?

        %p Service providers may participate in self-regulatory programs that provide ways to opt out of analytics and interest-based advertising, which you can access at:

        %li United States: NAI (http://optout.networkadvertising.org) and DAA (http://optout.aboutads.info/)
        %li Canada: Digital Advertising Alliance of Canada (https://youradchoices.ca/)
        %li Europe: European Digital Advertising Alliance (http://www.youronlinechoices.com/)

      #how-do-i-manage-mobile

        %h3 How do I manage mobile advertising IDs?

        %p On mobile devices, advertising IDs provided by the platform may be collected and used similar to cookie IDs. You may use the controls on iOS and Android operating systems that allow you to limit tracking and/or reset the advertising IDs.

      #how-do-i-control-emails
        %h3 How do I control email web beacons?

        %p Most email clients have settings which allow you to prevent the automatic downloading of images, which will disable web beacons in the email messages you read.

      #do-not-track
        %h3 Do Not Track Disclosure

        %p At this time GitLab does not respond to browser “Do Not Track” signals.

      #change-your-consent
        %h3 Change Your Consent Using Our Tool  

.container.txt-lefty
  .row
    .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      <script id="CookieDeclaration" src="https://consent.cookiebot.com/36a06ac5-ddb4-4f91-8337-067ad19ad8d5/cd.js" type="text/javascript" async></script>
