<section class="slp-commit-grid slp-relative slp-mb-64">
  <div class="slp-col-span-10 slp-mb-32">
    <div class="slp-relative">
      <div class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp--left-6 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4 slp-p-9">
        <svg
          width="22"
          height="22"
          viewBox="8 8 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#partners)">
            <path
              d="M11.4241 24.6246C10.9614 24.6179 10.5134 24.4617 10.147 24.1793C9.7805 23.8968 9.5153 23.5033 9.39101 23.0576C9.26673 22.6119 9.29003 22.138 9.45745 21.7066C9.62486 21.2753 9.92738 20.9097 10.3198 20.6646L11.8112 19.7318C12.2973 19.4341 12.8817 19.3414 13.436 19.4743C13.9903 19.6071 14.4692 19.9545 14.7677 20.4402C15.0592 20.9278 15.1461 21.5111 15.0093 22.0625C14.8724 22.614 14.523 23.089 14.0374 23.3838L12.5415 24.3122C12.2051 24.5177 11.8183 24.6259 11.4241 24.6246ZM12.9287 21.1574C12.8593 21.1577 12.7911 21.1759 12.7307 21.2102L11.2393 22.143C11.1928 22.1692 11.152 22.2045 11.1195 22.2468C11.087 22.2892 11.0634 22.3377 11.0501 22.3894C11.0375 22.4382 11.0348 22.4892 11.0424 22.5391C11.05 22.589 11.0675 22.6368 11.0941 22.6798C11.1199 22.7233 11.1541 22.7613 11.1947 22.7915C11.2352 22.8218 11.2814 22.8437 11.3305 22.8559C11.3796 22.8682 11.4307 22.8706 11.4807 22.8631C11.5307 22.8555 11.5788 22.838 11.622 22.8118L13.1179 21.879C13.1631 21.8528 13.2027 21.818 13.2344 21.7764C13.2661 21.7349 13.2893 21.6875 13.3026 21.637C13.3164 21.5875 13.3197 21.5357 13.3121 21.4849C13.3045 21.4341 13.2863 21.3854 13.2586 21.3422C13.2244 21.2854 13.1759 21.2386 13.1181 21.2062C13.0602 21.1738 12.995 21.157 12.9287 21.1574Z"
              fill="#7D2BD9"
            />
            <path
              d="M23.9953 27.1543C23.8004 27.1557 23.6106 27.0923 23.4557 26.9742C23.3007 26.8561 23.1893 26.6899 23.139 26.5017C23.0887 26.3134 23.1022 26.1138 23.1776 25.9341C23.2529 25.7544 23.3858 25.6048 23.5553 25.5087C23.6426 25.4607 23.711 25.3846 23.7493 25.2926C23.7877 25.2007 23.7937 25.0985 23.7665 25.0027C23.734 24.8879 23.6583 24.7902 23.5553 24.7299C23.4547 24.6721 23.3666 24.5951 23.2958 24.5033C23.225 24.4114 23.173 24.3065 23.1428 24.1946C23.1126 24.0826 23.1047 23.9658 23.1196 23.8508C23.1345 23.7358 23.1719 23.6249 23.2297 23.5243C23.2875 23.4238 23.3645 23.3356 23.4563 23.2648C23.5482 23.1941 23.6531 23.1421 23.765 23.1118C23.877 23.0816 23.9938 23.0737 24.1088 23.0886C24.2238 23.1035 24.3347 23.1409 24.4353 23.1987C24.6888 23.3399 24.9119 23.5298 25.0917 23.7575C25.2715 23.9852 25.4045 24.2462 25.483 24.5255C25.5616 24.8049 25.584 25.097 25.5492 25.385C25.5144 25.6731 25.4229 25.9514 25.2801 26.2039C25.0794 26.554 24.7874 26.843 24.4353 27.0399C24.3012 27.1159 24.1494 27.1554 23.9953 27.1543Z"
              fill="#7D2BD9"
            />
            <path
              d="M26.0501 25.8168C25.6722 25.8156 25.3009 25.7171 24.9721 25.5308L18.4381 21.848C18.2345 21.7313 18.0855 21.5385 18.0241 21.312C17.9936 21.1998 17.9856 21.0828 18.0004 20.9675C18.0152 20.8523 18.0525 20.741 18.1103 20.6402C18.1681 20.5394 18.2452 20.4509 18.3371 20.3799C18.4291 20.3088 18.5342 20.2566 18.6463 20.2262C18.8728 20.1647 19.1145 20.1957 19.3181 20.3124L25.8521 23.9952C25.9028 24.0248 25.9589 24.0439 26.0171 24.0514C26.0752 24.059 26.1344 24.0548 26.1909 24.0392C26.3053 24.0059 26.4028 23.9304 26.4637 23.828C26.4939 23.7769 26.5134 23.7202 26.521 23.6614C26.5287 23.6025 26.5244 23.5427 26.5084 23.4856C26.4923 23.4285 26.4649 23.3752 26.4277 23.3289C26.3906 23.2826 26.3444 23.2444 26.2921 23.2164L19.7405 19.5336C19.5369 19.4169 19.3879 19.2241 19.3265 18.9976C19.265 18.7711 19.296 18.5294 19.4127 18.3258C19.5294 18.1222 19.7222 17.9732 19.9487 17.9118C20.1752 17.8503 20.4169 17.8813 20.6205 17.998L27.1501 21.6808C27.5302 21.895 27.838 22.2173 28.0344 22.6069C28.2308 22.9964 28.307 23.4356 28.2533 23.8685C28.1995 24.3015 28.0182 24.7087 27.7325 25.0383C27.4467 25.368 27.0694 25.6053 26.6485 25.72C26.4546 25.7802 26.2531 25.8128 26.0501 25.8168Z"
              fill="#7D2BD9"
            />
            <path
              d="M25.94 22.7017C25.5546 22.7044 25.1752 22.6057 24.84 22.4157C24.7391 22.3579 24.6507 22.2808 24.5796 22.1889C24.5086 22.0969 24.4564 21.9918 24.4259 21.8797C24.3955 21.7675 24.3874 21.6505 24.4022 21.5352C24.417 21.42 24.4544 21.3087 24.5122 21.2079C24.5699 21.1071 24.647 21.0186 24.739 20.9476C24.831 20.8765 24.936 20.8243 25.0482 20.7939C25.1603 20.7634 25.2774 20.7554 25.3926 20.7702C25.5079 20.785 25.6191 20.8223 25.72 20.8801C25.7715 20.9095 25.8285 20.9282 25.8875 20.935C25.9465 20.9418 26.0062 20.9366 26.0632 20.9197C26.1197 20.9042 26.1726 20.8775 26.2187 20.8412C26.2648 20.8049 26.3032 20.7598 26.3316 20.7085C26.361 20.6576 26.3799 20.6013 26.3872 20.5429C26.3945 20.4845 26.39 20.4253 26.374 20.3687C26.358 20.312 26.3309 20.2592 26.2941 20.2133C26.2573 20.1674 26.2117 20.1293 26.16 20.1013L24.6772 19.2213C24.5677 19.1688 24.4704 19.0943 24.3911 19.0024C24.3119 18.9104 24.2526 18.8031 24.2168 18.6872C24.181 18.5712 24.1697 18.4491 24.1834 18.3285C24.1971 18.2079 24.2355 18.0915 24.2964 17.9865C24.3573 17.8815 24.4392 17.7903 24.537 17.7184C24.6348 17.6466 24.7465 17.5958 24.8649 17.5692C24.9833 17.5427 25.1059 17.5408 25.225 17.5639C25.3442 17.587 25.4572 17.6344 25.5572 17.7033L27.04 18.5745C27.4288 18.7855 27.745 19.1088 27.9473 19.5022C28.1496 19.8956 28.2286 20.3409 28.1739 20.7799C28.1193 21.2189 27.9336 21.6313 27.641 21.9631C27.3485 22.2949 26.9627 22.5309 26.534 22.6401C26.3395 22.6864 26.1398 22.7071 25.94 22.7017Z"
              fill="#7D2BD9"
            />
            <path
              d="M9.88001 19.5583C9.65331 19.5585 9.43526 19.4713 9.27131 19.3148C9.10736 19.1582 9.01015 18.9445 8.99995 18.7181C8.97179 17.6448 9.16955 16.5775 9.58041 15.5855C9.99127 14.5935 10.6061 13.6989 11.3849 12.9596C12.2466 12.1553 13.2717 11.5464 14.3903 11.1744C15.5089 10.8024 16.6947 10.6761 17.8666 10.8041C18.1 10.8245 18.3157 10.9368 18.4663 11.1162C18.6169 11.2957 18.69 11.5275 18.6696 11.7609C18.6492 11.9942 18.5369 12.2099 18.3574 12.3605C18.1779 12.511 17.946 12.5841 17.7126 12.5637C16.7902 12.459 15.8561 12.5541 14.9738 12.8425C14.0915 13.131 13.2816 13.606 12.5994 14.2354C12.0016 14.7998 11.529 15.4834 11.2122 16.242C10.8953 17.0005 10.7413 17.8171 10.7601 18.6389C10.7654 18.7545 10.7479 18.8699 10.7085 18.9787C10.6691 19.0875 10.6087 19.1875 10.5306 19.2729C10.4525 19.3583 10.3584 19.4274 10.2535 19.4764C10.1487 19.5254 10.0352 19.5532 9.91961 19.5583H9.88001Z"
              fill="#7D2BD9"
            />
            <path
              d="M27.4547 24.2738C27.2684 24.273 27.0871 24.2131 26.937 24.1028C26.7868 23.9924 26.6756 23.8374 26.6194 23.6599C26.5631 23.4824 26.5646 23.2917 26.6238 23.1151C26.6829 22.9386 26.7966 22.7853 26.9485 22.6774C28.0387 21.9103 28.8089 20.7699 29.1128 19.4728C29.4168 18.1757 29.2334 16.8123 28.5974 15.6414C27.9614 14.4705 26.9171 13.5737 25.6629 13.1213C24.4087 12.669 23.0318 12.6925 21.7938 13.1874L16.7844 15.9271C16.9156 16.032 17.0647 16.1125 17.2245 16.1646C17.4706 16.2446 17.7305 16.273 17.988 16.2481C18.2456 16.2231 18.4952 16.1453 18.7212 16.0195L20.6933 14.9069C20.834 14.8276 20.9939 14.7885 21.1554 14.7939C21.3169 14.7993 21.4738 14.8491 21.6089 14.9376C22.013 15.1695 22.4655 15.3044 22.9307 15.3319C23.3959 15.3594 23.8611 15.2786 24.2897 15.096C24.5008 15.0167 24.7342 15.0214 24.9419 15.1091C25.1496 15.1967 25.3157 15.3606 25.4061 15.567C25.4964 15.7734 25.504 16.0065 25.4273 16.2183C25.3507 16.4301 25.1956 16.6045 24.994 16.7055C24.3862 16.9697 23.7295 17.103 23.0666 17.097C22.4038 17.0909 21.7496 16.9455 21.1467 16.6703L19.584 17.5498C19.0409 17.8491 18.4302 18.0046 17.8099 18.0015C17.1897 17.9984 16.5805 17.8369 16.0404 17.5322C15.7244 17.3746 15.4564 17.1352 15.2645 16.839C15.0725 16.5427 14.9634 16.2005 14.9487 15.848C14.9612 15.5394 15.0598 15.2404 15.2332 14.9848C15.4066 14.7292 15.6481 14.527 15.9304 14.4011L20.9926 11.6394L21.0807 11.5955C22.7136 10.9431 24.529 10.9101 26.1846 11.5029C27.8401 12.0957 29.2214 13.2731 30.0677 14.8132C30.9141 16.3533 31.167 18.1496 30.7789 19.8632C30.3908 21.5768 29.3885 23.0893 27.961 24.1155C27.8125 24.219 27.6357 24.2743 27.4547 24.2738Z"
              fill="#7D2BD9"
            />
            <path
              d="M18.6007 29.2399C18.4259 29.239 18.2517 29.2183 18.0815 29.1783C17.6693 29.0756 17.2968 28.8529 17.0112 28.5384C16.7256 28.2239 16.5397 27.8317 16.4771 27.4115C16.4144 26.9914 16.4778 26.562 16.6593 26.1779C16.8407 25.7938 17.132 25.4721 17.4963 25.2535L18.9879 24.3207C19.2292 24.1746 19.4968 24.0773 19.7756 24.0346C20.0545 23.9918 20.339 24.0044 20.6129 24.0716C20.8869 24.1388 21.1449 24.2594 21.3723 24.4263C21.5997 24.5932 21.7919 24.8033 21.9381 25.0445C22.0843 25.2858 22.1815 25.5534 22.2243 25.8323C22.267 26.1111 22.2544 26.3956 22.1872 26.6695C22.12 26.9435 21.9995 27.2015 21.8326 27.4289C21.6656 27.6563 21.4556 27.8485 21.2143 27.9947L19.7183 28.9275C19.3805 29.1298 18.9945 29.2377 18.6007 29.2399ZM20.1055 25.7683C20.0361 25.7687 19.9679 25.7868 19.9075 25.8211L18.4159 26.7363C18.3704 26.7619 18.3304 26.7963 18.2984 26.8375C18.2663 26.8787 18.2429 26.9259 18.2293 26.9764C18.2158 27.0268 18.2125 27.0794 18.2196 27.1311C18.2267 27.1828 18.2441 27.2326 18.2707 27.2775C18.2965 27.3208 18.3309 27.3584 18.3718 27.3879C18.4126 27.4174 18.4591 27.4382 18.5083 27.4491C18.557 27.4631 18.6082 27.4665 18.6583 27.4589C18.7084 27.4513 18.7563 27.433 18.7987 27.4051L20.2947 26.4723C20.3397 26.4468 20.3791 26.4126 20.4107 26.3717C20.4424 26.3308 20.4656 26.2841 20.4791 26.2342C20.4926 26.1843 20.4961 26.1322 20.4894 26.0809C20.4827 26.0297 20.4658 25.9803 20.4399 25.9355C20.4043 25.879 20.3549 25.8325 20.2965 25.8001C20.238 25.7678 20.1723 25.7508 20.1055 25.7507V25.7683Z"
              fill="#7D2BD9"
            />
            <path
              d="M15.4635 28.1446C15.0005 28.1388 14.5518 27.9833 14.1846 27.7012C13.8173 27.4191 13.5514 27.0256 13.4265 26.5797C13.3017 26.1338 13.3246 25.6594 13.492 25.2276C13.6593 24.7958 13.962 24.4299 14.3547 24.1845L16.3655 22.9305C16.6071 22.7833 16.8755 22.6853 17.1551 22.6421C17.4347 22.5989 17.7201 22.6114 17.9948 22.6789C18.2696 22.7463 18.5283 22.8675 18.7562 23.0352C18.984 23.203 19.1764 23.4142 19.3223 23.6565C19.6151 24.1439 19.7026 24.7275 19.5657 25.2794C19.4288 25.8312 19.0786 26.3062 18.5919 26.6002L16.5811 27.8322C16.2439 28.0358 15.8575 28.1438 15.4635 28.1446ZM17.4831 24.3517C17.4133 24.3536 17.3452 24.3733 17.2851 24.4089L15.2743 25.6629C15.1844 25.7154 15.1188 25.8011 15.0916 25.9016C15.0645 26.002 15.0779 26.1091 15.1291 26.1997C15.1554 26.2434 15.1899 26.2815 15.2309 26.3118C15.2719 26.3421 15.3185 26.364 15.3679 26.3763C15.4174 26.3885 15.4688 26.3909 15.5192 26.3833C15.5695 26.3756 15.6179 26.3581 15.6615 26.3317L17.6723 25.0777C17.7601 25.0232 17.8228 24.9362 17.8467 24.8356C17.8706 24.7351 17.8538 24.6292 17.7999 24.5409C17.7662 24.4863 17.7198 24.4406 17.6646 24.4077C17.6095 24.3748 17.5472 24.3556 17.4831 24.3517Z"
              fill="#7D2BD9"
            />
            <path
              d="M13.1071 26.5997C12.7508 26.5995 12.4002 26.5109 12.0866 26.3419C11.7731 26.173 11.5063 25.929 11.3104 25.6317C10.9979 25.1558 10.8869 24.5757 11.0017 24.0182C11.1164 23.4608 11.4475 22.9714 11.9225 22.6573L14.0363 21.3197C14.2781 21.1713 14.5468 21.0721 14.8271 21.0279C15.1074 20.9836 15.3937 20.9951 15.6696 21.0618C15.9454 21.1284 16.2053 21.2489 16.4344 21.4162C16.6635 21.5836 16.8572 21.7945 17.0044 22.0369C17.297 22.5248 17.3839 23.1088 17.2461 23.6607C17.1082 24.2126 16.7568 24.6873 16.269 24.9805L14.2829 26.2609C13.9326 26.4865 13.5238 26.6043 13.1071 26.5997ZM12.8869 24.1313C12.8028 24.1873 12.7442 24.2743 12.724 24.3733C12.713 24.423 12.7124 24.4745 12.7222 24.5245C12.7321 24.5745 12.7522 24.6219 12.7812 24.6637C12.8088 24.7061 12.8446 24.7425 12.8863 24.771C12.9281 24.7995 12.9752 24.8194 13.0247 24.8296C13.0742 24.8399 13.1253 24.8402 13.175 24.8306C13.2246 24.821 13.2719 24.8017 13.3141 24.7737L15.3398 23.4757C15.3878 23.4491 15.4301 23.4133 15.4641 23.3702C15.4981 23.3272 15.5232 23.2778 15.5379 23.2249C15.5613 23.1246 15.5456 23.0192 15.4939 22.9301C15.4401 22.844 15.355 22.782 15.2564 22.7574C15.1578 22.7328 15.0535 22.7474 14.9655 22.7981L12.8869 24.1313Z"
              fill="#7D2BD9"
            />
          </g>
          <defs>
            <clipPath id="partners">
              <rect width="22" height="22" fill="white" transform="translate(9 9)" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
        <%= heading %>
      </h2>
    </div>
    <p class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-max-w-3xl">
      <% if event.cta_3up %>
        <span v-if="ctaText">
          <a class="slp-text-ui-secondary-dark slp-underline" href="<%= cta_link %>">
            <%= cta_text %>
          </a>
        </span>
      <% end %>
      <%= body %>
    </p>
  </div>
  <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-10" />
  <% tiers.each do | tier | %>
    <div class="slp-col-span-10">
      <div class="slp-grid slp-grid-cols-4 md:slp-grid-cols-10 slp-grid-flow-row slp-gap-x-6 slp-gap-y-10 slp-pt-32 slp-pb-32 slp-relative slp-items-center">
        <h3 class="slp-col-span-full slp-row-span-full md:slp-col-span-1 slp-text-xl">
          <%= tier.heading %>
        </h3>
        <div class="slp-col-span-9 slp-grid slp-grid-cols-9 slp-gap-6">
          <% tier.logos.each do | logo | %>
          <div class="slp-inline-block slp-col-span-2 slp-self-center slp-relative" style="min-height: 100px">
            <img
              class="slp-mx-auto slp-absolute slp-top-1/2 slp-left-1/2"
              src="<%= logo.logo %>"
              alt="<%= logo.logo %> logo"
              style="transform: translate(-50%, -50%) scale(<%= tier.image_size %>);"
            />
          </div>
          <% end %>
        </div>
      </div>
      <hr class="slp-border-t slp-border-grayscale-c3" />
    </div>
  <% end %>
</section>