- if partner.resources != nil 
  .col-md-12.topic-resources.slp-pt-24.sm:slp-p-0
    // We need to only include these h4 tags if the resource type exists
    - video_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Video"
        - if video_loop == 0
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-video.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Video
          - video_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - webcast_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Webcast"
        - if webcast_loop == 0
          - if video_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-webcast.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Webcasts
          - webcast_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - whitepaper_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Whitepapers"
        - if whitepaper_loop == 0
          - if video_loop == 1 || webcast_loop == 1 
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-webcast.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Whitepapers
          - whitepaper_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - case_study_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Case studies"
        - if case_study_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-case-study.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Case studies
          - case_study_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - reports_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Reports"
        - if reports_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-report.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Reports
          - reports_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - blog_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Blog"
        - if blog_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-blog.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Blogs
          - blog_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - podcast_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Podcast"
        - if podcast_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-podcast.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Podcast
          - podcast_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - books_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Books"
        - if books_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0 || podcast_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-book.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Books and eBooks
          - books_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
    - articles_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Articles"
        - if articles_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0 || podcast_loop == 1 || books_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          .slp-rounded-full.slp-inline-block.slp-bg-grayscale-highlight.slp-mr-6
            %img.slp-inline-block{:alt => "", :class=>"icon slp-w-8 slp-h-8 slp-m-8", :src => "/images/icons/icon-articles.svg"}
          %h4.slp-mb-16.slp-inline-block.slp-font-normal.slp-text-lg.slp-align-middle.slp-ml-8.slp-text-grayscale-333.slp-leading-tight.group-hover:slp-text-ui-secondary-dark.group-focus:slp-text-ui-secondary-dark 
            Articles
          - articles_loop = 1
        %a.slp-block.slp-mb-16.slp-text-sm.slp-font-normal.slp-text-ui-secondary.group-hover:slp-underline.group-hover:slp-text-ui-secondary{ href: "#{article.url}" }
          = article.title
          %span.arrow-head.invisible.group-hover:visible →
